<a href="https://colab.research.google.com/github/wilianuchasara/Data_Mining/blob/main/Grupo_3_MEG01_Caso_Inversiones_veterinarias.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# LIBRERIAS BASE

from google.colab import files
import pandas as pd
import numpy as np
import statsmodels.api as sm
from statsmodels.stats.outliers_influence import variance_inflation_factor

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
# FUNCIONES

def calculate_vif_(X):
    variables = list(range(X.shape[1]))
    vif = [variance_inflation_factor(X.iloc[:, variables].values, ix)
               for ix in range(X.iloc[:, variables].shape[1])]
    print(X.columns[variables])
    return vif

In [4]:
#DATA LOADING & PREVIEW

url = 'https://raw.githubusercontent.com/wilianuchasara/Trabajo-grupal-final/main/dataset_invetsaoficial4.csv'
df = pd.read_csv(url,sep=',')
df.head()

                                 Nombre_Articulo  ... Total_Linea_Soles
0                  PD CANINE K.D 3.3 LB .1.5 KG.  ...             38.81
1                  PD CANINE U.D 3.3 LB .1.5 KG.  ...             36.27
2   SD CANINE ADULT L.R SMALL . TOY 4.5 LB .2 K.  ...             87.47
3  SD CANINE ADULT L.R SMALL . TOY 15.5 LB .7 K.  ...            122.56
4         PD CANINE C.D MULTICARE 8.5 LB .3.9 K.  ...             95.85

[5 rows x 8 columns]

In [5]:
#DATA PREPARATION (VERY IMPORTANT TO DIFFERENTIATE "X" AND "DF")

X = df.drop(columns='Nombre_Articulo')  # PRIMERO ELIMINAR VARIABLES QUE NO VAN A IR EN EL ALGORITMO
X = pd.get_dummies(X)  # ACA SE CREAN DUMMIES (EN CASO HAYA ALGUNA VARIABLE CATEGORICA, SI NO HAY NO CREARA NADA)
X.head()

   Peso_Bruto  ...  Temperatura_Hasta 30 grados
0        1.54  ...                            1
1        1.54  ...                            1
2        2.04  ...                            1
3        7.03  ...                            1
4        3.85  ...                            1

[5 rows x 8 columns]

In [6]:
X = X.drop(columns=['Temperatura_De 2 a 8 grados','Precio_descontado','Peso_Bruto'])   # EN CASO ESTEMOS CREANDO DUMMIES PARA CATEGORICAS SIEMPRE ELIMINAR 1 DE LAS N OPCIONES QUE SE CREAN (SOLO QUEDARIAN N-1 FLAGS POR CADA CATEGORICA)
X.head()

    Volumen  Cantidad  ...  Total_Linea_Soles  Temperatura_Hasta 30 grados
0  0.005940         1  ...              38.81                            1
1  0.005950         1  ...              36.27                            1
2  0.007700         2  ...              87.47                            1
3  0.012992         1  ...             122.56                            1
4  0.017000         1  ...              95.85                            1

[5 rows x 5 columns]

In [7]:
# ALGORITHM FIT

dep = 'Total_Linea_Soles'  # ACA SOLO MODIFICAR LA VARIABLE DEPENDIENTE "dep", DEJAR TODO LO DEMAS IGUAL

mod = sm.OLS(X[dep], sm.add_constant(X.drop(columns=[dep])))    
res = mod.fit()
print(res.summary())
print('')
print('')
print('')
print('VIF RESULTS')
print('')
calculate_vif_(X.drop(columns=[dep]))

                            OLS Regression Results
==============================================================================
Dep. Variable:      Total_Linea_Soles   R-squared:                       0.743
Model:                            OLS   Adj. R-squared:                  0.738
Method:                 Least Squares   F-statistic:                     181.0
Date:                Tue, 23 Mar 2021   Prob (F-statistic):           1.03e-72
Time:                        18:33:35   Log-Likelihood:                -1876.0
No. Observations:                 256   AIC:                             3762.
Df Residuals:                     251   BIC:                             3780.
Df Model:                           4
Covariance Type:            nonrobust
===============================================================================================
                                  coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------------
const                       -1089.2486    165.363     -6.587      0.000   -1414.924    -763.573
Volumen                     -8237.6835   3163.413     -2.604      0.010   -1.45e+04   -2007.467
Cantidad                       47.5889      1.848     25.758      0.000      43.950      51.228
Precio_unitario                 4.4546      0.388     11.473      0.000       3.690       5.219
Temperatura_Hasta 30 grados   829.0695    152.161      5.449      0.000     529.394    1128.745
==============================================================================
Omnibus:                       72.400   Durbin-Watson:                   1.932
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              873.511
Skew:                           0.712   Prob(JB):                    2.09e-190
Kurtosis:                      11.937   Cond. No.                     2.21e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.21e+04. This might indicate that there are
strong multicollinearity or other numerical problems.



VIF RESULTS

Index(['Volumen', 'Cantidad', 'Precio_unitario',
       'Temperatura_Hasta 30 grados'],
      dtype='object')

[3.8940067824277595,
 1.2506988072765022,
 2.8628309789526467,
 3.4813421631181365]